/* Colors:
    #8afcff
    #4a245d
    #1b2021
    #805E73
    #6c464f
*/

/* Layout */
body {
  background-color: #545b26;
}

nav {
	width: 100%;
	text-align: center;
	background: #323904;
	position: fixed;
  top: 0;
}

nav a {
	display: inline-block;
	padding: 15px 20px;
	text-decoration: none;
	text-transform: uppercase;
  font-family: "Helvetica", sans-serif;
  font-size: 1.125rem;
  color: #c29800;
}

.selected{
  background: #c29800;
  color: #323904;
}

.main {
    display: flex;
    padding: 3em;
    margin-top: 2em;
    height: 90vh;
    justify-content: center;
    align-items: middle;
}

.clockbox,
#clock {
    width: 100%;
    margin-bottom: 0;
}

/* Clock styles */
.circle {
    fill: none;
    stroke: #e4ba11;
    stroke-width: 9;
    stroke-miterlimit: 10;
}

.mid-circle {
    fill: #e4ba11;
}
.hour-marks {
    fill: none;
    stroke: #e4ba11;
    stroke-width: 9;
    stroke-miterlimit: 10;
}

.hour-arm {
    fill: none;
    stroke: #e4ba11;
    stroke-width: 17;
    stroke-miterlimit: 10;
}

.minute-arm {
    fill: none;
    stroke: #e4ba11;
    stroke-width: 11;
    stroke-miterlimit: 10;
}

.second-arm {
    fill: none;
    stroke: #e4ba11;
    stroke-width: 4;
    stroke-miterlimit: 10;
}

/* Transparent box ensuring arms center properly. */
.sizing-box {
    fill: none;
}

/* Make all arms rotate around the same center point. */
/* Optional: Use transition for animation. */
#hour,
#minute,
#second {
    transform-origin: 300px 300px;
    transition: transform 0.08s ease-in-out;
}

h1 {
  font-family: "Helvetica", sans-serif;
  color: #e4ba11;
  text-align: center;
  font-size: 3em;
}

.hidden {
  display: none;
}

@media (max-width: 800px){
    h1 {
        font-size: 2em
    }
}
